{% extends 'shop/layouts/main.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h3>All Products</h3>
    <hr>

    <div class="row">
        {% for product in products %}
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card h-100">
                {% if product.product_image %}
                <img src="{{ product.product_image.url }}" class="card-img-top" alt="{{ product.name }}">
                {% else %}
                <img src="{% static 'images/default.jpg' %}" class="card-img-top" alt="No image available">
                {% endif %}

                <a href="{% url 'product_details' product.category.name product.name %}">
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{ product.name }}</h5>
                        <p>
                            <span class="float-start old_price">
                                <s>Rs.{{ product.original_price }}</s>
                            </span>
                            <span class="float-end new_price">
                                Rs.{{ product.selling_price }}
                            </span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
