{% extends 'shop/layouts/main.html' %}
{% block content %}

<section class="bg-light py-4 my-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="mb-3">Cart Items</h4>
        <hr style="border-color:#b8bfc2;">
      </div>

      <div class="col-12">
        <table class="table table-bordered text-center align-middle">
          <thead>
            <tr>
              <th>Image</th>
              <th>Product Name</th>
              <th>Unit</th>
              <th>Quantity</th>
              <th>Amount</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart_items %}
              <tr>
                <td>
                  <img src="{{ item.product.product_image.url }}" height="75px" alt="{{ item.product.name }}">
                </td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.product.selling_price|stringformat:'d' }}</td>
                <td>{{ item.product_qty }}</td>
                <td class="amt">{{ item.total_cost|stringformat:'d' }}</td>
                <td>
                    <a href="{% url 'remove_cart' item.id %}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Remove </a>
                </td>

              </tr>
            {% empty %}
              <tr>
                <td colspan="6">Your cart is empty.</td>
              </tr>
            {% endfor %}

            <!-- Total Row -->
            <tr>
              <td colspan="4" class="text-end"><b>Total Amount</b></td>
              <td colspan="2" id="net" class="fw-bold">Rs: {{ total_amount|stringformat:'d' }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      {% if cart_items %}
      <div class="col-12 text-end mt-3">
        <a href="{% url 'checkout' %}" class="btn btn-success btn-lg">Proceed to Checkout</a>
      </div>
      {% endif %}
    </div>
  </div>
</section>

{% endblock content %}
