{% extends 'shop/layouts/main.html' %}
{% block content %}
<section class="py-5 text-center container" style="margin-top:70px;">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">See What's Hot</h1>
      <p class="lead text-muted">Don’t miss our top-rated products—grab yours before they’re gone!</p>
    </div>
  </div>
</section>

<section class="bg-light py-4 my-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="mb-3">Categories</h4>
        <hr style="border-color:#b8bfc2;">
           {% include 'shop/inc/message.html' %}
      </div>

      {% for item in category %}
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
          <div class="card-body">
            <h5 class="card-title">
              <a href="{% url 'collections' item.name %}" class="text-decoration-none text-primary">
                {{ item.name }}
              </a>
            </h5>
            <p class="card-text">
              {{ item.original_price }}
              {{ item.selling_price }}</p>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</section>
{% endblock content %}  